<html>
    <head>
        <title>AnnoBOT v0.1</title>
        <link rel = "stylesheet" href = "../static/styles/style.css/">
        <script src = "../static/script/main.js"></script>
    </head>
    <body>
        <div>
            <h1 class="title" >AnnoBOT</h1>
            <h3 class="subtitle">Build To Annoy</h3>
        </div>
        <div class="flex-container center">
            <input id="headlights" 
                   onclick="simulateKeyPress(49)" 
                   type="image" 
                   src="../static/assets/headlights_off.png" 
                   width="50"/>
            <input id="Final" 
                    onclick="simulateKeyPress(50)" 
                    type="image" 
                    src="../static/assets/Final_off.png" 
                    width="50"/>
        </div>
        <div class="flex-container center">
            <img id="up"  src="../static/assets/arrow_up_off.png" width="100">
        </div>
        <div class="flex-container center">
            <span>
                <img id="left" src="../static/assets/arrow_left_off.png" width="100">
            </span>
            <img src="{{ url_for('video_feed') }}">
            <span>
                <img id="right" src="../static/assets/arrow_right_off.png" width="100">
            </span>
        </div>
        <div class="flex-container center">
            <img id="down" src="../static/assets/arrow_down_off.png" width="100">
        </div>
    </body>
</html>